.login-container {
    width: 100%;
    position: relative;
    background-image: url('/public/img/undraw_breakfast_psiw.png');
    background-repeat: no-repeat;
    background-position: -150px;
    background-size: contain;
    height: 100vh !important;
}

.login-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #eeeeee;
    box-shadow: 0 0 5px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.login-panel form {
    margin: 20px 0;
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-panel div {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header-panel div a {
    padding-left: 10px;
    color: #f04040;
}

.link-a {
    color: #f04040;
    text-decoration: none;
}