.search-form {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input[type="search"] {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #cccccc85;
    border-radius: 5px;
    background-color: #eee;
    outline: none;
    padding-left: 20px;
}

.search-form button {
    padding: 8px 30px;
    border: 2px solid #f04040;
    border-radius: 5px;
    background-color: #f04040;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
}

.search-form button:hover {
    border: 2px solid #f04040;
    color: #f04040;
    background-color: transparent;
}